<section class="card ">
    <div class="card-header">
        <h4 class="card-title text-center">Login</h4>
    </div>
    <div class="card-body">
        <form action="/users/signin" method="POST">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username"> 
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" Placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" value="Go" class="btn btn-primary">
            </div>
         </form>

    </div>
    
</section>